<!DOCTYPE html>
<html>
<head>
	<title>Recipe Book</title>
	{% include 'header.html' %}
	<style>
		{% include 'css/style.css' %}
	</style>
	<script>
		var slideIndex = 1;
		showSlides(slideIndex);

		function plusSlides(n) {
		  showSlides(slideIndex += n);
		}

		function currentSlide(n) {
		  showSlides(slideIndex = n);
		}

		function showSlides(n) {
		  var i;
		  var slides = document.getElementsByClassName("mySlides");
		  var dots = document.getElementsByClassName("dot");
		  if (n > slides.length) {slideIndex = 1}    
		  if (n < 1) {slideIndex = slides.length}
		  for (i = 0; i < slides.length; i++) {
		      slides[i].style.display = "none";  
		  }
		  for (i = 0; i < dots.length; i++) {
		      dots[i].className = dots[i].className.replace(" active", "");
		  }
		  slides[slideIndex-1].style.display = "block";  
		  dots[slideIndex-1].className += " active";
		}
	</script>
</head>
<body>
	<div class="main-container">
		<nav class="navbar navbar-expand-sm justify-content-end header" style="background-color: #ffffff">
			{% include 'navbar.html' %}
		</nav>

		<!-- <div class="pictures" style="height: 500px; background-color: #dddddd;">
			<p>pictures</p>
		</div> -->

		<div id="myCarousel" class="carousel slide" data-ride="carousel" >
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		    <li data-target="#myCarousel" data-slide-to="1"></li>
		    <li data-target="#myCarousel" data-slide-to="2"></li>
		    <li data-target="#myCarousel" data-slide-to="3"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox" style="width: 100%;height:550px !important;">
		    <div class="carousel-item active title">
		      
		      <img src="static/images/img1.png" class="d-block w-100 titleimg">
		      <div class="titletext" style="top:400px">
		      	<strong>Shown in this picture:</strong>
						<br>
						<p style="font-size: 18px;">placeholder</p>
		      </div>
		    </div>

		    <div class="carousel-item title">
		      
		      <img src="static/images/img2.png" class="d-block w-100 titleimg">
		      <div class="titletext" style="top:400px">
		      	<strong>Shown in this picture:</strong>
						<br>
						<p style="font-size: 18px;">placeholder</p>
		      </div>
		    </div>

		    <div class="carousel-item title">
		    	
		      <img src="static/images/img3.png" class="d-block w-100 titleimg">
		      <div class="titletext" style="top:400px">
		      	<strong>Shown in this picture:</strong>
						<br>
						<p style="font-size: 18px;">placeholder</p>
		      </div>
		    </div>

		    <div class="carousel-item title">
		    	
		      <img src="static/images/img4.png" class="d-block w-100 titleimg">
		      <div class="titletext" style="top:400px">
		      	<strong>Shown in this picture:</strong>
						<br>
						<p style="font-size: 18px;">placeholder</p>
		      </div>
		    </div>
		  </div>

		  <!-- Left and right controls -->
		  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
		<div class="editor-container" style="height: 600px; background-color: #fde2d4;">
			<div class="row">
				<div class="col-12">
					<h2 style="text-align: center; padding-top: 30px;">Welcome!</h2>
				</div>
			</div>
			<div class="editor row no-gutter" >
				<div class="blurb col-6">
					<p>note from the editor note from the editor note from the editor note from the editor note from the editor note from the editor note from the editor note from the editor note from the editor note from the editor note from the editor note from the editor note from the editor note from the editor note from the editor</p>
				</div>
				<div class="col-6"">
					<img src="static/images/img4.jpg" style="height: 350px; width: 100%; object-fit: cover;">
				</div>
			</div>
		</div>	
	</div>

	{% include 'footer.html' %}

</body>
</html>