<!DOCTYPE html>
<html>
<head>

	<title>Meal Builder</title>
	{% include 'header.html' %}
	<style>
		{% include 'css/style.css' %}
	</style>

</head>
<body>
	<nav class="navbar navbar-expand-sm justify-content-end header" style="background-color: #ffffff">
		{% include 'navbar.html' %}
	</nav>
	<div class="title">
		<img class="titleimg" src="static/images/mealbuilder_banner.png" style="width: 100%; height: 550px; object-fit: cover;">
		<div class="titletext">
			<strong>Shown in this picture:</strong>
			<br>
			<p style="font-size: 18px;">Placeholder</p>
		</div>
	</div>
	<div style="width: 100%;">
		<form method="post" class="p-5" style="background-color: #dfc5ce;" action="/meal-builder#plan">
			<div class="form-group" id="form-group" ">
				<span class="presets">
					<button class="btn btn-secondary" name="change" value="american">Preset 1</button>
					<button class="btn btn-secondary" name="change" value="italian">Preset 2</button>
					<button class="btn btn-secondary" name="change" value="mexican">Preset 3</button>
				</span>
			</div>
		
			<div id="plan" class="container row no-gutter" style="margin-left: auto; margin-right: auto;">
				<!-- <div class="col-1" style="background-color: white; height:100px"></div> -->
					<div class="col-3 meal"  >
						<p class="mealtitle">Appetizer</p>
						<button name="change" value="appetizer" style="padding: 0px"><img  class="mealimg" src="{{ 'static/images/mealbuilder/'+appetizers[0]+'.png' }}"></button>
						<p class="meallabel"> {{ data[appetizers[0]][3] }} </p>
						
					</div>
					<div class="col-3 meal" >
						<p class="mealtitle">Entrée</p>
						<button name="change" value="entree" style="padding: 0px"><img id = "entree" class="mealimg" src="{{ 'static/images/mealbuilder/'+entrees[0]+'.png' }}"></button>
						<p class="meallabel"> {{ data[entrees[0]][3] }} </p>
					</div>
					<div class="col-3 meal" >
						<p class="mealtitle">Dessert</p>
						<button name="change" value="dessert" style="padding: 0px"><img id = "dessert" class="mealimg" src="{{ 'static/images/mealbuilder/'+desserts[0]+'.png' }}"></button>
						<p class="meallabel"> {{ data[desserts[0]][3] }} </p>
					</div>
					<div class="col-3 meal" >
						<p class="mealtitle">Drink</p>
						<button class="btn btn-secondary" name="change" value="drink" style="padding: 0px"><img id = "drink" class="mealimg" src="{{ 'static/images/mealbuilder/'+drinks[0]+'.png' }}"></button>
						<p class="meallabel"> {{ data[drinks[0]][3] }} </p>
					</div>
				
				<!-- <div class="col-1" style="background-color: white; height:100px"></div>	 -->
			</div>
		</form>
	</div>
	{% include 'footer.html' %}
</body>
</html>