<a class="navbar-brand name" href="/">cook with us</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="links collapse navbar-collapse flex-grow-0 ml-auto mr-1">
    <ul class="navbar-nav text-right">
        <!-- <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link" href="/aboutus">About</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/recipes" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Recipes
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/recipes-time">Meal</a>
              <a class="dropdown-item" href="/recipes-cuisine">Cuisine</a>
              <a class="dropdown-item" href="/recipes-prep">Prep-Time</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/ingredients">Ingredients</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/meal-builder">Meal Builder</a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/search" method="post" >
      <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" style="font-size: 12px;">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="font-size: 12px;">Search</button>
    </form>
</div>
